
<div class="jumbotron text-center">
    <h1>Assignment 1 -  COGS121</h1>
    <h5>Log in to either Instagram or Facebook</h3>
</div>

<div class="container text-center" style="vertical-align: middle">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <span class="glyphicon glyphicon-camera" style="font-size: 150px; color: #ffffff"></span>

            </div>
            <br>
            <div class="row">

                <a href="/auth/instagram" class="btn-success btn-lg"> Instagram</a>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="row">
                <span class="glyphicon glyphicon-thumbs-up" style="font-size: 150px; color: #ffffff"></span>
            </div>
            <br>
            <div class="row">
                <a href="/auth/facebook" class="btn-info btn-lg">Facebook</a>
            </div>
        </div>


    </div>

</div>